---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInTopic = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.categories'  %}
  {% for topic in postsInTopic %}
    <li>
      <a href="#{{ topic.name }}">
        <strong>{{ topic.name }}</strong> <span class="taxonomy__count">{{ topic.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByTopic = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.categories' %}
{% for topic in postsByTopic %}
  <section id="{{ topic.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ topic.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in topic.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
