---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInTag = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.tags' %}
  {% for tag in postsInTag %}
    <li>
      <a href="#{{ tag.name }}">
        <strong>{{ tag.name }}</strong> <span class="taxonomy__count">{{ tag.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByTag = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.tags' %}
{% for tag in postsByTag %}
  <section id="{{ tag.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ tag.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in tag.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
